nav a.active {
    background-color: #403d39;
    color: white;
    padding: 5px 16px;
    border-radius: 5px;
}

.dark nav a.active {
    background-color: #c1121f;
    color: white;
    padding: 5px 16px;
    border-radius: 5px;
}
